<!DOCTYPE html>
<html lang="es-AR" xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/head :: head"> <!--En fragments head, se encuentra todo el codigo de boostrap y css y se pasa aca con replace -->
    <title>Crearpersona</title>
</head>


<body>
    <nav th:replace="/fragments/nav-bar :: nav-bar-dark">
        </nav>
   <!-- <button class="text-light bg-dark"><a th:href="@{/persona/list}">Ver lista de personas</a></button>-->
    <!--LA @ HACE REFERENCIA A LAS URL -->
    <br>
    
    <div class="container">
     <div th:if="${error}" th:text="${error}" class="alert alert-danger"><!--El if verifica si hay un error, y el th text muestra el mensaje del error-->
    </div>
     <div th:if="${sucess}" th:text="${sucess}" class="alert alert-success"><!--El if verifica si hay un error, y el th text muestra el mensaje del error-->
    </div>
        <div class="card">
            <div class="card-header d-flex">
                <h1 class="card mt-2"> Crear Persona</h1>
                <button class="btn-dark px-5 py-2 ms-auto "><a th:href="@{/persona/list}">Lista de personas</a></button>
            </div>
            <div class="card-body">
              <form th:action="@{/persona/save}" method="POST" th:object="${persona}" class="col-8 mx-auto"> <!--th:objet carga el objeto persona y permite trabajar con th:field-->
            <input hidden th:field="${persona.id}">
                <div class="mb-3">
                    <label for="nombre" class="form-label">Nombre</label>
                    <input type="text" class="form-control" th:field="*{nombre}" placeholder="Escribir Nombre"> <!--"*{nombre}" LO QUE HACE ES LLAMAR AL ATRIBUTO NOMBRE DE PERSONA-->
                  </div>
                  <div class="mb-3">
                    <label for="Apellido" class="form-label">Apellido</label>
                    <input type="text" class="form-control" th:field="*{apellido}" placeholder="Escribir Apellido">
                  </div>
                  <div class="mb-3">
                    <label for="edad" class="form-label">Edad</label>
                    <input type="number" class="form-control" th:field="*{edad}" placeholder="Escribir Edad">  <!--PLACEHOLDER SE VE CUANDO CLIKEAS SE BORRA -->
                  </div>
                  <div class="mb-3">
                    <label for="ciudad" class="form-label">Ciudad</label>
                    <select th:field="*{ciudad.id}">   <!-- TOMAMOS EL ID DE CIUDAD -->
                    <option th:each="c :${ciudades}" th:text="${c.nombre}" th:value="${c.id}"> </option>  <!-- c es la variable para llamar a ciudad, se escribre texto al nombre  -->
                    </select>
                     <div class="mb-3">
                    <label for="dni" class="form-label">DNI</label>
                    <input type="number" class="form-control" th:field="*{dni}" placeholder="Ingrese su dni">  <!--PLACEHOLDER SE VE CUANDO CLIKEAS SE BORRA -->
                  </div>
                   
                    <!--<input type="text" class="form-control" th:field="*{ciudad.nombre}" placeholder="Ingrese su ciudad"> PLACEHOLDER SE VE CUANDO CLIKEAS SE BORRA 
                  </div>-->

                    <!-- ACTION, LUGAR DONDE VA A VIAJAR EL HTML, POST PORQUE SE GUARDA ALGO -->
                    <button  type="submit" class="btn-dark px-5 py-2 ms-auto ">Guardar</button>
                </form>
            </div>
        </div>
        <button class="text-light bg-dark"><a th:href="@{/}">Volver a inicio</a></button>
</body>

</html>